@import "tailwindcss";

@theme {
  --color-brand-50: #fdf8f5;
  --color-brand-100: #f8efe7;
  --color-brand-200: #eedacc;
  --color-brand-300: #e2bda9;
  --color-brand-400: #d19a7e;
  --color-brand-500: #c27c59;
  --color-brand-600: #b36444;
  --color-brand-700: #954f38;
  --color-brand-800: #7a4231;
  --color-brand-900: #63382a;
  --color-brand-950: #351c14;
  --color-sand: #F7F4EB;
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

